/*This is a custom CSS stylesheet*/
body { padding-top: 50px; }
.navbar-inverse .navbar-toggle {
	color: white;
	font-weight: bold;
	border-color: white;
}
.navbar-inverse .navbar-toggle:hover {
	background-color: #ddd;
	color: #333;
}
.navbar-inverse .navbar-toggle .glyphicon {
	color: white;
}
.navbar-inverse .navbar-toggle:hover .glyphicon {
	color: #333;
}

header {
    position: relative;
    overflow: hidden;
    width:100%;
    height:100%;
    max-height:100%;
    text-align:center;
}

video {
    height:auto;
    min-height:100%;
    min-width:90%;
}